*{
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background: linear-gradient(to bottom, #aad6e6, #5c9fbd);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #3c6c8c;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 24px;
}

main {
    height: 100vh;
    display: flex;
    align-items:stretch;
    justify-content: center;
    text-align: center;
}

section{
    /* border: solid 1px white; */
    margin-top: 25px;
}

img{
    height: 500px;
    opacity: 0.05;
    border-radius: 10px;
}

h2{
    font-size: 38px;
    font-weight: bold;
    opacity: 0.05;
}

p{
    font-size: 30px;
    opacity: 0.05;
}

.visible{
    opacity: 1;
    transition: opacity 5s ease;
}


footer {
    background-color: #2a4d63;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}


 .wave {
      position: absolute;
      width: 150px;
      height: 150px;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      animation: waveAnimation 2s linear;
      opacity: 0.1;
    }

    @keyframes waveAnimation {
      to {
        transform: scale(2);
        opacity: 0;
      }
    }